@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background: linear-gradient(rgb(140, 163, 232), rgb(140, 163, 232));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

.text-outside {
	position: absolute;
	top: -30px;
	left: 10px; 
	background-color: white;
	padding: 5px;
	border: 1px solid black;
  }

  .container {
	position: relative;
	border: 2px solid black;
	padding: 20px;
	margin: 20px;
  }

  .profile-edit-container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
  }
  
  .avatar-container {
	margin-bottom: 20px;
	display: grid;
	place-items: center;
  }

  button{
	margin-top: 10px;
  }
  	

  .avatar-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }
  
  .avatar-selection {
	margin-bottom: 20px;
  }
  
  .avatar-dropdown {
	width: 100%;
	padding: 8px;
	font-size: 16px;
  }
  
  .change-avatar-btn {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
  }
  
  .change-avatar-btn:hover {
	background-color: #0056b3;
  }
  
  .profile-edit-form {
	display: flex;
	flex-direction: column;
	gap: 10px;

  }
  .rounded-border {
  border: 2px solid #000;
  border-radius: 10px;
}		
.example-text {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 4vw; /* Responsive font size relative to viewport width */
}
.text-with-shadow{
	text-shadow: 12px px px rgba(110, 42, 42, 0.5);
}

.account-wrapper {
  display: flex;
  justify-content: center;
}

.account-container {
  border: 2px solid #ccc; /* Add border */
  border-radius: 8px;
  padding: 20px;
  width: 400px; /* Adjust width as needed */
}

.account-info,
.edit-form {
  margin-bottom: 20px;
}

.edit-form input {
  margin-bottom: 10px;
}

.edit-form button {
  margin-right: 10px;
}
